{% extends 'base.html' %}
{% load tab_filter %}
{% block content %}
<!-- Page Header-->
{% include 'header.html' with bg_img='random/'|add:bg_img  title=content.subject subtitle=content.create_date|date:'Y m d' %}
<!-- Main Content-->
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7 text-break">
        {% if content.main_image %}
        <img class="img-fluid my-5" src="{{ content.main_image.url }}" />
        {% endif %}
        {{ content.content|mark }}
      </div>
    </div>
    {% if user.is_authenticated %}
    {{ image }}
    <a type="button" class="btn btn-link btn-sm" href="{% url 'tab:board_modify' content.id %}">수정</a>
    <a type="button" class="btn btn-link btn-sm" href="{% url 'tab:board_delete' content.id %}">삭제</a>
    {% endif %}
  </div>
</article>
{% endblock %}