{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include "header.html" with bg_img=bg_img title="TAB" subtitle="Talk About Bug" %}
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <img class="img-fluid" src="..." alt="이미지1" />
        <p>
          TAB은 키보드의 Tab키와 'Talk About Bug'의 약자로 '프로그래밍 개발 지식
          공유'라는 의미를 두고 있는 1982년에 설립된 컴퓨터공학부 소속
          학회입니다. 함께 프로그래밍 지식에 대한 대화를 나누고, 자신이 관심있는
          분야를 함께 공부하며 전공 수업 이외의 부분들을 함께 공유하여
          학회원들의 실력 향상을 도모하고 있습니다. 저희는 보다 한 분야에
          국한되지 않아 다양한 공부를 접할 수 있는 기회를 제공합니다. 또한,
          선후배간의 친목을 도모하고, 재학생들 뿐만 아니라 졸업생들과의
          네트워킹할 수 있는 다양한 활동들을 진행하고 있습니다.
        </p>
        <img class="img-fluid" src="..." alt="이미지2" />
        <p>설명2</p>
        <img class="img-fluid" src="..." alt="이미지3" />
        <p>설명3</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
