{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include "header.html" with bg_img=bg_img title="TAB 로그인" subtitle="로그인" %}
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="my-5">
          <form method="post">
            {% csrf_token %}
            <div class="form-floating">
              <input class="form-control" id="username" type="text" placeholder="ID" name="username" />
              <label for="username">ID</label>
            </div>
            <div class="form-floating">
              <input class="form-control" id="password" type="password" placeholder="PW" name="password" />
              <label for="password">PW</label>
            </div>
            <br />
            <!-- Submit Button-->
            <button type="submit" class="btn btn-primary">로그인</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}